@import "../../../styles/variables";
@import "../../../styles/screensize";

.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.otp_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  @include mobileSS {
   gap: 2px;
  }

}

.otp_item {
  text-align: center;
  padding: 2px;
  height: 60px;
  width: 60px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1.5px solid #aaa;

  &:focus {
    outline: 1.5px solid $primaryColor;
  }

  @include mobileSS {
    width: 40px;
    height: 40px;
  }
}
