@import "../../../styles/variables";
@import "../../../styles/screensize";

.navbar {
  background-color: #fbfcfa;
  width: 100%;
  height: 70px;
  z-index: 2;
  position: fixed;
  top: 0;
  padding-left: 15px;
  @include tabletSS {
    height: 50px;
    display: block;
  }

  @include mobileSS {
    padding-left: 20px;
    visibility: visible;
  }

  .show {
    left: 0;
  }
  .brand {
    color: $secondaryColor;
    align-items: center;
    margin-left: 50px;
    a {
      font-weight: 900;
      font-family: "Comfortaa";
      font-size: 3rem;
      letter-spacing: -1px;
    }
    @include tabletSS {
      margin-left: 10px;
    }
  }
  label.brand {
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    line-height: 70px;
    @include tabletSS {
      line-height: 50px;
    }
    a {
      color: $secondaryColor;
    }
  }

  ul {
    float: right;
    margin-right: 40px;
    border-top: $background1;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 0.5px;
    height: 70px;
    // width: 50%;
    @include tabletSS {
      visibility: visible;
      position: fixed;
      width: 50%;
      height: 100vh;
      background-color: #fff;
      top: 50px;
      text-align: left;
      left: -100%;
      transition: all 0.5s;
      overflow-y: scroll;
      scroll-behavior: smooth;
    }

    li {
      line-height: 70px;
      display: inline-block;
      border-radius: 8px;
      &:hover {
        background-color: #fff;
        color: $primaryColor;
        transition: 0.5s;
        border-radius: 0px;
      }
      &:hover > a {
        color: $primaryColor;
      }
      @include tabletSS {
        display: block;
        margin: 10px;
        line-height: 30px;

        &:hover {
          background-color: $primaryColor;
          color: #fff;
          transition: 0.5s;
        }
      }

      a {
        font-size: medium;
        text-transform: uppercase;
        font-weight: bold;
        color: $primaryColor;
        margin: 0 10px;
        @include tabletSS {
          color: $primaryColor;
          font-size: smaller;
        }
      }
    }
    .active {
      background-color: $primaryColor;
      transition: 0.5s;
      a {
        color: #fff;
      }
    }
  }
  label.icon {
    color: $primaryColor;
    font-size: medium;
    line-height: 70px;
    float: right;
    margin-right: 40px;
    align-items: center;
    cursor: pointer;
    display: none;
    @include tabletSS {
      display: block;
    }
    @include mobileSS {
      visibility: visible;
      line-height: 70px;
    }
  }
}
