NEXT_PUBLIC_BLOB_BASE_URL=https://landingpageassests.blob.core.windows.net/images
DOOW_API_BASE_URL=https://dev-api.doow.co
ALTERNATIVE_APPS_API_BASE_URL=https://dev-api.doow.co
CATALOG_ADMIN_KEY=replace-with-catalog-admin-key
X_ADMIN_SECRET=replace-with-admin-secret
