@import "../../../styles/variables";
@import "../../../styles/screensize";

.container {
  min-height: calc(60vh - 0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background-color: $background1;
  background-color: #fff;
  padding: 100px 0;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    @include tabletSS {
      width: 70%;
    }
    @include mobileSS {
      width: 100%;
    }
  }

  .sectionTitle {
    color: $fontColor;
    margin-bottom: 30px;
    width: 80%;
    @include tabletSS {
      font-size: 4rem;
    }
    h1 {
      font-size: 6rem;
      font-weight: 500;
      font-family: "Manrope";

      @include tabletSS {
        font-size: 3rem;
        display: block;
      }
    }
  }

  .itemSection {
    // background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.FaqItem {
  width: 80%;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  @include tabletSS {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .ItemTitle {
    padding: 5px 20px;
    margin: 10px 0px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // height: 50px;
    // line-height: 50px;

    h3 {
      font-size: 2rem;
      font-weight: 400;
      text-align: left;
      @include tabletSS {
        text-overflow: ellipsis;
        font-size: 1.7rem;
      }
    }
    svg {
      margin-top: 10px;
    }
  }

  .ItemBody {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #fff;

    p {
      text-align: justify;
      font-size: large;
      padding-bottom: 15px;
      font-weight: 300;
      line-height: 25px;
      @include tabletSS {
        font-size: medium;
      }
    }
  }
}
