// ? ScreenSizes
$mobileScreensize: 640px;
$tabletScreensize: 768px;
$midLaptopScreensize: 1400px;
$laptopScreensize: 1940px;
$laptopScreensize: 1040px;
$largeScreensize: 1540px;

@mixin mobileSS() {
  @media (max-width: $mobileScreensize) {
    @content;
  }
}

@mixin tabletSS() {
  @media (max-width: $tabletScreensize) {
    @content;
  }
}

@mixin midLaptopSS() {
  @media (max-width: $midLaptopScreensize) {
    @content;
  }
}

@mixin laptopSS() {
  @media (max-width: $laptopScreensize) {
    @content;
  }
}
@mixin largeSS() {
  @media (max-width: $largeScreensize) {
    @content;
  }
}
