@import "../../../styles/variables";
@import "../../../styles/screensize";

.container {
  min-height: calc(100vh - 70px);
  width: 100vw;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(220, 241, 218, 0.1),
      rgba(129, 133, 103, 0.1)
    ),
    url(../../../../public/images/card_banner.png);

  @include tabletSS {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
    height: 80vh;
    background-image: linear-gradient(
        rgba(225, 236, 224, 0.1),
        rgba(129, 133, 103, 0.1)
      ),
      url(../../../../public/images/mobile.png);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    @include tabletSS {
      width: 60%;
    }
  }

  .sectionTitle {
    color: $fontColor;
    margin-bottom: 30px;
    margin-left: 70px;
    h1 {
      font-size: 6.5rem;
      text-align: left;
      font-weight: 500;
      word-spacing: 5px;
      @include tabletSS {
        font-size: 4rem;
        display: block;
      }
      @include mobileSS {
        font-size: 2.5rem;
      }
    }
  }
  .bottomDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .smallText {
      width: 80%;
      font-size: 2rem;
      line-height: 30px;
      font-family: "Inter";
      font-weight: 300;
      padding-bottom: 30px;
      text-align: left;
      @include mobileSS {
        font-size: 1.4rem;
      }
    }
  }

  .btn {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    width: fit-content;
    font-size: medium;
    font-weight: 800;
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #000;
      border: solid 1px #000;
      transition: 0.5s ease-in-out;
    }
  }
}
