@import "../../../styles/variables";
@import "../../../styles/screensize";

.content {
  display: flex;
  height: 80vh;
  margin: 0 0px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 48%;
  padding: 40px;
  // background-color: rgb(109, 43, 97);

  &:hover .imager img {
    height: 7rem * 3.95;
    width: 8.6rem * 3.95;
    transition: 0.5s ease-out;
    box-shadow: #fff;
  }
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  @include mobileSS {
    width: 70%;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    width: 100%;
    height: 100%;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .sectionTitle {
        color: #fff;
        margin-bottom: 20px;
        font-size: 3rem;
        font-weight: 600;
        @include tabletSS {
          font-size: 3rem;
          display: block;
        }
        @include mobileSS {
          font-size: 4rem;
        }
      }
      .subtitle {
        color: #fff;
        font-size: 1.7rem;
        font-weight: 300;
        text-align: center;
        @include mobileSS {
          font-size: 1.4rem;
        }
      }
    }
  }

  .imager {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: aqua;
    width: 100%;
    .imgd {
      align-self: center;
      color: #fff;
      font-size: medium;
      height: 7rem * 4;
      width: 8.6rem * 4;
      object-fit: fill;
      margin: 10px;
      align-items: center;
      @include tabletSS {
        display: block;
      }
      @include mobileSS {
        height: 7rem * 1;
        width: 8.6rem * 1;
      }
    }
  }
}

.btn {
  border-style: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: medium;
  background-color: $background1;
  &:hover {
    background-color: $secondaryColor;
    color: #fff;
    transition: 0.5s ease-in-out;
  }
}
