@import "../../styles/variables";
@import "../../styles/screensize";

.sidebar_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 355px;
  height: 100%;
  user-select: none;
  transition: left 500ms ease-in-out;
  font-family: "Manrope", sans-serif;

  & a {
    text-decoration: none;
  }

  @include tabletSS {
    width: 280px;
    left: -280px;
  }

  // @include tabletSS {
  //   left: -345px;
  // }
}

.sidebar_menu.active {
  left: 0px;
}

.sidebar_menu .sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: fit-content;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  padding-top: 60px;
  z-index: 10;

  &:hover {
    .link.active {
      & > .content {
        max-height: 500px;
      }

      & .header > svg {
        transform: rotate(180deg);
      }
    }
  }

  &:hover .header {
  }

  &:hover .content {
    width: 100%;
  }

  &:hover .logoInfo {
    display: flex;
  }

  &:hover .link {
    gap: 20px;
    width: 100%;
  }


  @include tabletSS {
    padding-top: 80px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  transition: gap 500ms ease-in-out;

  &:hover .header > svg {
    transform: rotate(180deg);
  }

  &:hover .content {
    max-height: 500px;
  }
}

.link svg {
  cursor: pointer;
}

.content {
  width: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;

  & a p {
    color: #555;
    font-weight: 500;
  }
}

.content .header {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;

  @include tabletSS {
    font-size: 16px;
  }
}

.header > svg {
  transition: transform 500ms ease-in-out;
}

.sub_menu {
  overflow: hidden;
  transition: max-height 500ms ease-in-out;

  & > a {
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    // margin: 10px 0px;
    color: #555;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    transition: background-color 0.3s linear;
    cursor: pointer;

    &:hover {
      background-color: #f2f2f2;
    }

    @include tabletSS {
      font-size: 15px;
    }
  }
}

.sidebar_menu .sidebar .links .link.active .content > a,
.sidebar_menu .sidebar .links .link.active .header,
.sidebar_menu .sidebar .links .link.active svg,
.sidebar_menu .sidebar .links .link.active > a > p,
.sidebar_menu .sidebar .links .link > a:hover {
  color: $primaryColor;
}


.logoSection {
  position: absolute;
  left: 10px;
  bottom: 30px;
  display: flex;
  gap: 10px;
  align-items: center;

  @include mobileSS {
    bottom: 5px;
    padding-bottom: 5px;
  }

  & > img {
    cursor: pointer;
  }

  & .logoInfo {
    display: none;
    flex-direction: column;
    gap: 5px;
  }

  & .logoInfo > div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #222;
  }

  & > .logoInfo > span {
    font-size: 11px;
    color: #555;
  }
}
