@import "../../../styles/variables";
@import "../../../styles/screensize";

.container {
  min-height: calc(100vh);
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(226, 235, 226, 0.4),
      rgba(148, 151, 129, 0.2)
    ),
    url(../../../../public/images/banner.png);

  @include tabletSS {
    width: 100vw;
    margin-top: 20px;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    // background-position-y: 60vh;
    background-position-y: 60vh;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url(../../../../public/images/mobile2.png);
  }
  @include mobileSS {
    background-position-y: 70vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    @include tabletSS {
      width: 70%;
      margin-bottom: 60vw;
    }
  }

  .sectionTitle {
    color: $fontColor;
    margin-bottom: 30px;
    h1 {
      font-size: 9rem;
      font-weight: 700;
      word-spacing: 5px;
      font-family: "Manrope";
      @include midLaptopSS {
        font-size: 6.5rem;
      }
      @include tabletSS {
        font-size: 4rem;
        display: block;
        // margin-top: 30vw;
      }
      @include mobileSS {
        font-size: 3rem;
        font-weight: 900;
      }
    }
  }
  .bottomDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .smallText {
      width: 80%;
      font-size: 2.2rem;
      // font-family: "Roboto";
      font-weight: 300;
      padding-bottom: 30px;

      @include tabletSS {
        font-size: 1.4rem;
      }
    }
  }

  .btn {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    width: fit-content;
    font-size: medium;
    font-weight: 400;
    background-color: $fontColor;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #000;
      border: solid 1px #000;
      transition: 0.5s ease-in-out;
    }
  }
}
