@import "../../../styles/variables";
@import "../../../styles/screensize";
@import "../../../styles/mixins_pub";

.container {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $background1;
  // margin: 60px 0px;
  width: 100%;
  padding: 60px 10%;
  @include tabletSS {
    margin: 25px 0px;
    padding: 0% 10%;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    height: 74vh;
    margin: 0 50px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    // &:hover .imager img {
    //   height: 7rem * 4.9;
    //   width: 8.6rem * 4.9;
    //   transition: 0.5s ease-out;
    //   box-shadow: #fff;
    // }
    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
    @include tabletSS {
      height: max-content;
      border-radius: 10px;
      margin: 0 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // grid-template-columns: repeat(1, 1fr);
    }

    .textSection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 30px;
      // padding-top: 50px;
      border-radius: 20px;
      height: 100%;
      // background-color: bisque;
      @include tabletSS {
        padding: 20px;
      }
      .textContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .sectionTitle {
          text-align: left;
          font-family: "Manrope";
          color: #fff;
          margin-bottom: 20px;
          font-size: 3rem;
          font-weight: 600;
          @include tabletSS {
            font-size: 1.8rem;
            display: block;
          }
        }
        .subtitle {
          color: #fff;

          font-size: 1.7rem;
          font-weight: 300;
          text-align: left;
          @include mobileSS {
            font-size: 1.4rem;
          }
        }
        .subtitle2 {
          color: #fff;
          font-size: 1.7rem;
          font-weight: 300;
          text-align: left;
          margin-top: 20px;
          @include mobileSS {
            font-size: 1.4rem;
          }
        }
      }
    }

    .imager {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tabletSS {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        margin: 0 auto;
      }
      img {
        color: #fff;
        font-size: medium;
        height: auto;
        width: 100%;
        margin: 0px;
        display: block;
        object-fit: fill;
        // display: none;
        // background-color: aqua;
        @include tabletSS {
          // margin-left: 10%;
          align-self: center;
          height: auto;
          width: 90%;
          margin-left: 20px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
