@import "../../styles/screensize";
@import "../../styles/variables";

.container {
  margin-left: 345px;
  display: flex;
  flex-direction: column;
  @include tabletSS {
    margin: 0px;
    margin-top: 50px;
  }
  .contents {
    width: 100%;
    padding: 40px 30px;
    margin: 0 auto;
    @include tabletSS {
      padding: 20px 20px;
    }
    
  }
}
