@import "../../../styles/variables";
@import "../../../styles/screensize";

.container {
  background-color: $fontColor;
  width: 100%;
  z-index: 2;
  padding: 40px 15%;
  // height: 50px;
  // min-height: 50vh;

  @include tabletSS {
    display: block;
  }

  @include mobileSS {
    padding-left: 20px;
    visibility: visible;
  }
  .brand {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    img {
      height: 30px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
    // background-color: aqua;
    .linkList {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 20px;
      font-weight: 300;
      font-size: small;
      justify-content: space-between;

      @include mobileSS {
        grid-template-columns: 1fr;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
      }
      ul {
        text-align: left;
        .listItems {
          color: #fff;
          padding: 10px 0;
          word-spacing: 3px;
          &:hover {
            color: $fadeFontColor;
          }
          a {
            color: #fff;
            width: fit-content;
          }
        }
        .listheader {
          font-weight: bold;
        }
      }
    }
    .address {
      font-weight: 300;
      font-size: 12px;
      .addressheader {
        font-weight: bold;
      }
      p {
        padding-bottom: 10px;
      }
    }
    .shortText {
      font-weight: 300;
      font-size: 12px;
      text-align: left;
      padding-bottom: 10px;
      width: 100%;
      color: $fadeFontColor;
      @include mobileSS {
        padding-left: 20px;
      }
    }
    .copywright {
      padding-bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 20px;

      @include mobileSS {
        padding-left: 20px;
      }
      p {
        padding: 0px;
        font-weight: 300;
        font-size: x-small;
        color: $fadeFontColor;
      }
    }
  }
}
