@import "../../styles//variables";
@import "../../styles//screensize";

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 50%;
  max-width: 410px;
  margin-top: 50px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 32px;
    margin-bottom: 5rem;

    @include mobileSS {
        font-size: 22px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.take_action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

p {
    opacity: 0.3;
}

  span a {
    font-weight: 500;
    color: $primaryColor;
    text-decoration: underline;
  }

  @include mobileSS {
    flex-direction: column;
    gap: 0;

    p, span {
        font-size: 14px;
    }
  }
}

.take_action:last-child {
  justify-content: center;
}
