@import "../../styles/variables";
@import "../../styles/screensize";

.imageContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
  img {
    width: fit-content;
    height: 65vh;
    object-fit: contain;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // display: none;
    @include tabletSS {
      width: 85%;
      height: 50%;
    }
  }
}
