@import "../../styles/variables";
@import "../../styles/screensize";

.imageContainer {
  // height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // background-color: aqua;
  // margin-left: 25px;
  @include tabletSS {
    height: fit-content;
  }
  img {
    width: 80%;
    // background-color: rgb(255, 102, 0);
    height: auto;
    // height: 65vh;
    object-fit: contain;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // display: none;
    @include tabletSS {
      height: fit-content;
      width: 85vw;
      // height: 50%;
    }
  }
}
