@import "../../styles/variables";
@import "../../styles/screensize";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include mobileSS {
      width: 70%;
    }
  }

  .sectionTitle {
    color: $primaryColor;
    margin-bottom: 30px;
    @include mobileSS {
      font-size: 4rem;
    }
    span {
      font-size: 10rem;
      font-weight: 600;
      @include tabletSS {
        font-size: 3rem;
        display: block;
      }
    }
  }

  .smallText {
    color: $primaryColor;
    font-size: 1.6rem;
    padding-bottom: 50px;
    font-weight: 300;
    @include mobileSS {
      font-size: 1.4rem;
    }
  }
  .dropdown {
    padding: 10px;
    // width: 100%;

    select {
      text-align: center;
      width: 50%;
      padding: 5px 20px;
      border-radius: 10px;
      background-color: $primaryColor;
      color: #fff;
      height: 40px;
      border-style: none;
      width: 30vw;
      option {
        text-align: center;
      }
      @include mobileSS {
        width: 70vw;
        // background-color: aquamarine;
      }
    }
  }
}

.imgd {
  color: #fff;
  font-size: medium;
  // line-height: 50px;
  // float: right;
  height: 7rem * 2;
  width: 8.6rem * 2;
  // margin-right: 40px;
  margin: 20px;
  align-items: center;
  @include tabletSS {
    display: block;
  }
  @include mobileSS {
    height: 7rem * 1;
    width: 8.6rem * 1;
  }
}
