@import "../../../styles/variables";
@import "../../../styles/screensize";

.container {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background1;
  padding: 0px;
  margin: 0px;
  @keyframes scroll {
    0% {
      transform: translateX(0px);
      // transform: translateX(calc(-120px * 6));
    }
    100% {
      transform: translateX(calc(-120px * 5));
    }
  }
  .content {
    // padding: 30px;
    // background-color: aqua;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;
    // transform: translateX(calc(-120px * 18));
    overflow: hidden;
    width: auto;
    position: relative;
    // width: calc(100vw * 24);
    animation: scroll 4s linear infinite;
    @include mobileSS {
      width: 70%;
    }
    img {
      display: block;
      width: 100px;
      // width: calc(100vw / 12);
      margin: 0 10px;
      background-color: #fff;
    }
  }
}
